.color-picker {
    width: 500px;
    height: 350px;
    & > div {
        padding: 5px;
    }
    .colors {
        height: 200px;
        & > div {
            height: calc(100% - 10px);
            margin: 5px 5px;
            float: left;
        }
        .compare {
            width: 30px;
            .pre, .recent {
                height: 50%;
            }
        }
        .panel {
            position: relative;
            width: calc(100% - 110px);
            background:
                linear-gradient(to top, rgba(0, 0, 0, 1), transparent),
                linear-gradient(to left, hsla(290, 100%, 50%, 1), rgba(255, 255, 255, 1));
            .pointer {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: 2px solid white;
                border-radius: 20px;
                &.dragging {
                    cursor: grabbing;
                }
            }
        }
        .color-bar {
            width: 20px;
            background: linear-gradient(to bottom, 
            #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000);
        }
        .opacity-bar {
            width: 20px;
            background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1)),
        }
    }
    .selected {
        height: 30px;
        .color-block {
            margin: 0 4px;
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 3px;
        }
    }
    .dashboard {
        height: 40px;
        line-height: 40px;
        span {
            margin: 0 10px;
        }
    }
}