.color-picker {
    width: 300px;
    height: 300px;
    & > div {
        padding: 5px;
    }
    .colors {
        height: 150px;
        & > div {
            height: calc(100% - 10px);
            margin: 5px 5px;
            float: left;
        }
        .compare {
            width: 30px;
            .pre, .recent {
                height: 50%;
            }
        }
        .panel {
            width: calc(100% - 110px);
            background: green;
        }
        .color-bar {
            width: 20px;
            background: yellow;
        }
        .opacity-bar {
            width: 20px;
            background: darkcyan;
        }
    }
    .selected {
        height: 30px;
        .color-block {
            margin: 0 4px;
            float: left;
            width: 20px;
            height: 20px;
            border-radius: 3px;
        }
    }
    .dashboard {
        height: 40px;
        line-height: 40px;
        span {
            margin: 0 10px;
        }
    }
}