<div class="color-picker">
  <div class="colors">
    <div class="compare">
      <div class="pre" [ngStyle]="{'background-color': preColor}"></div>
      <div class="recent" [ngStyle]="{'background-color': recentColor}"></div>
    </div>
    <div class="panel" (click)="colorPanelSelect()">

    </div>
    <div class="color-bar">

    </div>
    <div class="opacity-bar">
      
    </div>
  </div>
  <div class="selected">
    <div class="color-block"
      *ngFor="let color of recentlySelected"
      [ngStyle]="{'background-color': color}"
    >
    </div>
  </div>
  <div class="dashboard">
    <span>{{recentlySelected[0]}}</span>
    <button (click)="save()">Save</button>
  </div>
</div>