<div class="demo-container">
  <div class="demo-example">
    <div class="demo-title">基本功能</div>
    <div class="demo-text">
      通过 size 配置样式<br>
      通过 placeholder 配置占位符<br>
      通过 disabled 配置禁用功能
    </div>
    <d-codebox id="components-smart-input-basic" [sourceData]="basicSource">
      <d-smart-input-basic demo></d-smart-input-basic>
    </d-codebox>
  </div>
  <div class="demo-example">
    <div class="demo-title">清除功能</div>
    <div class="demo-text">
      通过 clearable 配置清除功能
    </div>
    <d-codebox id="components-smart-input-clear" [sourceData]="clearSource">
      <d-smart-input-clear demo></d-smart-input-clear>
    </d-codebox>
  </div>
</div>
