<div class="container">
    <div class="header">
      <a href="javascript:;" class="btn-menu" (click)="showMenu()"></a>
      <a class="title" routerLink="/">DevUI Plus</a>
    </div>
  
    <div class="menu-container" [ngStyle]="{
      display: menuShow ? 'block' : 'none'
    }">
      <d-accordion
        class="menu"
        linkType="routerLink"
        [data]="menu"
        [restrictOneOpen]="restrictOneOpen"
      ></d-accordion>
    </div>
  
    <div class="content" [class.fullwidth]="!menuShow">
        <router-outlet></router-outlet>
    </div>
</div>
