@import "../../ng-devui-plus//style/theme/color";

.app-container {
    height: 100vh;
    margin: 0;
    .header {
        position: relative;
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
        box-shadow: 0px 0px 10px 0 rgba(41,48,64,0.2);
        a {
            font-size: 20px;
            font-weight: bold;
            color: #293040;
        }
    }
    .menu-container {
        float: left;
        width: 240px;
        height: calc(100% - 50px);
        padding-top: 20px;
        background: white;
        border-right: 1px solid #e3e5e9;
    }
    .content {
        float: left;
        width: calc(100% - 240px);
        height: calc(100% - 50px);
        background: white;
        // padding: 0 60px;
        // padding: 10px;
        &.fullwidth {
            width: 100%;
        }
    }
}

.devui-accordion-menu {
    box-shadow: none;
    & > li > .devui-accordion-item-title.over-flow-ellipsis {
        font-size: 12px;
        font-weight: 400;
        color: #959eb2;
        &:hover {
            background: #fff;
        }
    }
    .icon-chevron-down {
        display: none;
    }
    .devui-accordion-item .devui-accordion-item-title {
        background: #fff;
        &.devui-router-active {
            color: #5170ff;
            border-right: 2px solid #5170ff;
        }
    }
}

.demo-container{
    position: relative;
    padding-bottom: 30px;
    margin-top: 20px;
}

.demo-content {
    margin-right: 200px;
}

.demo-example {
    margin-bottom: 20px;
}

.demo-nav {
    position: absolute;
    height: 100%;
    top:0;
    right: 0;
    width: 150px;
    line-height: 24px;
}

.demo-nav .items {
    margin-top: 10px;
    cursor: pointer;
}

.demo-nav .items>li:hover {
    color: $focus1;
}

.demo-nav-active {
    color: $focus1;
}

.demo-title {
    font-size: 14px;
    color: $dark1;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.demo-text {
    font-size: 14px;
    color: $dark1;
    line-height: 24px;
}

.readme {
    .hljs{
        background: transparent;
    }
    pre {
        background-color: $white;
        border: none;
        code {
            border: 1px solid #e9e9e9;
            overflow-x: auto;
        }
    }
    p {
        margin: 1em 0;
    }
}

.doc-viewer-container {
    .main{
        padding: 0 20px;
    }
}

@media (min-width: 1024px) {
    .doc-viewer-container {
        .main{
            padding: 0 60px;
        }
    }
}

@media (min-width: 1280px) {
    .doc-viewer-container{
        .main{
            padding: 0 20%;
        }
    }
}

@media only screen and (max-width: 500px) {
    .container .content {
        padding: 0 10px;
    }
}
