<section>
  <h5 class="text-muted">Small</h5>
  <div class="row">
      <div class="col-md-5">
          <d-smart-input 
           size='sm'
           clearable=true
           [placeholder]="'Small Input'"
           (onClear)="clearText($event)"
          ></d-smart-input>
      </div>
  </div>
  <h5 class="text-muted">Standard</h5>
  <div class="row">
      <div class="col-md-5">
          <d-smart-input
           clearable=true
           [placeholder]="'Standard Input'"
           (onClear)="clearText($event)"
          ></d-smart-input>
      </div>
  </div>
  <h5 class="text-muted">Large</h5>
  <div class="row">
      <div class="col-md-5">
          <d-smart-input 
           size='lg'
           clearable=true
           [placeholder]="'Large Input'"
           (onClear)="clearText($event)"
          ></d-smart-input>
      </div>
  </div>
</section>