@import './theme/color';

@mixin color-cube {
    .color-cube {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: bottom;
    }
}

@mixin color-input {
    input {
        height: 30px;
        line-height: 30px;
        margin: 0 5px;
        border: 1px solid $gray2;
    }
}

@mixin confirm-button {
    button {
        height: 30px;
        width: 80px;
        border: 1px solid $gray2;
        border-radius: 3px;
    }
}