$icon-size: 18px;

.se-toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
    .icon {
        display: inline-block;
        width: $icon-size;
        height: $icon-size;
        margin-right: 10px;
        background-size: $icon-size $icon-size;
        cursor: pointer;
    }
    .icon-undo {
        background-image: url(./assets/undo.svg);
    }
    .icon-redo {
        background-image: url(./assets/redo.svg);
    }
    .icon-clean {
        background-image: url(./assets/clean.svg);
    }
    .icon-h1 {
        background-image: url(./assets/icon-h1.svg);
    }
    .icon-h2 {
        background-image: url(./assets/icon-h2.svg);
    }
    .icon-h3 {
        background-image: url(./assets/icon-h3.svg);
    }
    .icon-font {
        background-image: url(./assets/font.svg);
    }
    .icon-size {
        background-image: url(./assets/size.svg);
    }
    .icon-bold {
        background-image: url(./assets/bold.svg);
    }
    .icon-italic {
        background-image: url(./assets/italic.svg);
    }
    .icon-underline {
        background-image: url(./assets/underline.svg);
    }
    .icon-strike {
        background-image: url(./assets/strike.svg);
    }
    .icon-superscript {
        background-image: url(./assets/superscript.svg);
    }
    .icon-subscript {
        background-image: url(./assets/subscript.svg);
    }
    .icon-forecolor {
        background-image: url(./assets/forecolor.svg);
    }
    .icon-backcolor {
        background-image: url(./assets/backcolor.svg);
    }
    .icon-order-list {
        background-image: url(./assets/order-list.svg);
    }
    .icon-unorder-list {
        background-image: url(./assets/unorder-list.svg);
    }
    .icon-align-left {
        background-image: url(./assets/align-left.svg);
    }
    .icon-align-center {
        background-image: url(./assets/align-center.svg);
    }
    .icon-align-right {
        background-image: url(./assets/align-right.svg);
    }
    .icon-link {
        background-image: url(./assets/link.svg);
    }
    .icon-unlink {
        background-image: url(./assets/unlink.svg);
    }
}

.se-editor {
    min-height: 300px;
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
}

.operation-bar {
    margin: 10px;
}

:host ::ng-deep {
    ul, ol {
        margin-left: 40px;
    }
    ul {
        list-style-type: decimal;
    }
    ol {
        list-style-type: disc;
    }
}