/* You can add global styles to this file, and also import other style files */
@import '~ng-devui/devui.min.css';
@import '~@devui-design/icons/icomoon/devui-icon.css';
@import '~quill/dist/quill.snow.css';
@import '~katex/dist/katex.css';
@import './assets/mobile.scss';
@import '../ng-devui-plus/style/component.scss';

body {
    margin: 0;
}

#mithril-root {
    @include color-cube;
    .color-picker {
        width: 234px;
    }
    .color-blocks {
        .color-block {
            margin: 0 6px 6px 0;
        }
    }
    @include hr;
    .control {
        @include color-input;
        @include confirm-button;
    }
}
